<h2>inscription</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "prénom" }
    %>

    <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "nom" }
    %>

    <p>genre</p>

    <%= f.input :gender, collection: User::GENDER,
                required: true,
                autofocus: true
    %>

    <%= f.input :city,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "ville" }
    %>

    <p>Etes vous recruteur ou postuleur </p>

    <%= f.input :recrutor, collection: User::RECRUTOR,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }
     %>

     <p> description </p>
      <%= f.text_area :description, :cols => 60, :rows => 8,
                autofocus: true,
                input_html: { autocomplete: "description" }
      %>

      <p>Date de naissance</p>

      <%= f.input :birthdate, as: :date, html5: true,
          required: true,
          autofocus: true
      %>

    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "nouveaux mot de passe" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "nouveaux mot de passe" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "inscription" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
