<%= render '/shared/messagenavigationbar', chatroom: @chatroom %>
<div class="content-long-messages dashboard">
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <% if message.user_id == current_user.id %>
        <div class="user-message">
          <div class="message-content-user" >
            <p class="message-container message" id="message-<%= message.id %>">
              <%= message.content %>
            </p>
            <i class="author">
              <small><%= message.created_at.strftime("%e %b à %l:%M") %></small>
            </i>
          </div>
        </div>
        <div class="b-margin-20"></div>
      <% else %>
        <div class="recrutor-message">
          <div class="message-content-recrutor" >
            <p class="message-container message" id="message-<%= message.id %>">
              <%= message.content %>
            </p>
            <i class="author">
              <small><%= message.created_at.strftime("%e %b à %l:%M") %></small>
            </i>
          </div>
        </div>
        <div class="b-margin-20"></div>
      <% end %>
    <% end %>
  </div>
  <div class="b-margin-100"></div>
  <span class="input-chatroom-div">
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
      <%= f.input_field :content, label: false, placeholder: "Aa" %>
      <%= f.submit "envoyer " %>
    <% end %>
  </span>
</div>
