<div data-hello-target="liste">
 <% @jobs.each do |job| %>
      <%= simple_form_for @job, url: job_update_test_path, method: :post do |f| %>
      <%= f.label job.name %>
      <%= f.input :experience %>
      <%= hidden_field_tag :job_id, value: job.id %>
      <%= f.submit %>

<% end %>
<% end %>

</div>
