<div data-hello-target="liste">

<%= render '/shared/dashboardnavigationbar', pathname: 'Mes informations'%>

<div class="content-long-dashboard dashboard">
  <% if params[:query].blank? %>
    <h1><%= pluralize @jobs.count, 'metier' %> </h1>
  <% else %>
    <h1><%= pluralize @jobs.count, 'resultats' %> pour <code><%= params[:query] %> </code></h1>
  <% end %>

 <% @jobs.each do |job| %>
      <%= simple_form_for @job, url: job_update_test_path, method: :post do |f| %>
      <%= f.label job.name, class: "job-name", data: {job: job.id} %>
      <div class="job-form-<%= job.id %> d-none">
          <%= f.input :experience %>
          <%= hidden_field_tag :job_id, value: job.id %>
          <%= f.submit %>
      </div>
<% end %>
<% end %>
</div>
</div>


</div>
