<div data-hello-target="liste">


  <% if params[:query].blank? %>
    <h4>Choisir mes compétences</h4>
  <% else %>
    <h5><%= pluralize @skills.count, 'resultats' %> pour <code><%= params[:query] %> </code></h5>
  <% end %>

 <% @skills.each do |skill| %>
    <%= simple_form_for @skill, url: skill_update_path, method: :post do |f| %>
    <%= f.label skill.name, class: "skill-name", data: {skill: skill.id} %>
    <div class="skill-form-<%= skill.id %> d-none">
    <%= f.input :level, label: "Votre niveau sur 5", collection: UserSkill::LEVEL %>
    <%= hidden_field_tag :skill_id, value: skill.id %>
    <%= f.submit "Ajouter" %>
    </div>
  <% end %>
<% end %>
</div>
</div>
