<div class="container">
  <h2>Dashboard</h2>
  <p><%= @user.first_name %></p>
  <p><%= @user.last_name %></p>
  <p><%= link_to "Voir mes matches", "#" %></p>
  <p><%= link_to "Mes informations", "#" %></p>
  <p><%= link_to "Mon profil pro", "#" %></p>
  <p><%= link_to "Devenir recruteur", "#" %></p>
  <p><%= link_to "Mes affinités", "#" %></p>
</div>
