<!--  conteneur -->
<div class="content-long dashboard">
<!--  conteneur -->


<!--  boucle principale-->
<% @chatrooms.each do |chatroom| %>
<!--  boucle principale -->


<!--  fonction nom utilisateur et recruteur -->
<% if chatroom.user_id == current_user.id %>
  <% prenom = User.find(chatroom.recrutor).first_name %>
  <% nom = User.find(chatroom.recrutor).last_name %>
  <% patronyme = "#{prenom} #{nom}"%>
<% else %>
  <% prenom = User.find(chatroom.user_id).first_name %>
  <% nom = User.find(chatroom.user_id).last_name %>
  <% patronyme = "#{prenom} #{nom}"%>
<% end %>
<!--  fonction nom utilisateur et recruteur -->



<!--  fonction style-->
<% if chatroom.messages.last.user.recrutor %>
<!--  fonction style-->


<!-- message repondu par l'utilisateur--->
<%= link_to chatroom_path(chatroom) do%>
<div class="message-card pill-obsydian">
<%= render 'shared/avatar'%>
<div class="max-lenght">
<h4><%=patronyme%></h4>
<p><%=chatroom.name%></p>
</div>
</div>
<% end %>
<!-- message repondu par l'utilisateur--->


<% else %>


<!-- message en attente de reponse --->
<%= link_to chatroom_path(chatroom) do%>
<div class="message-card pill-lavande">
<%= render 'shared/avatar'%>
<div class="max-lenght">
<h4><%=patronyme%></h4>
<p><%=chatroom.name%></p>
</div>
</div>
<% end %>
<!-- message en attente de reponse --->


<!--  fonction style-->
<% end %>
<!--  fonction style-->


<!--  boucle principale-->
<% end %>
<!--  boucle principale-->


<!--  conteneur -->
</div>
<!--  conteneur -->
