<!--  conteneur -->
<div class="content-long dashboard">
<!--  conteneur -->

<% if @chatrooms.count.positive? %>
  <!--  boucle principale-->
  <% @chatrooms.each do |chatroom| %>
  <!--  boucle principale -->


    <!--  fonction nom utilisateur et recruteur -->
    <% if chatroom.user_id == current_user.id %>
      <% prenom = User.find(chatroom.recrutor).first_name %>
      <% nom = User.find(chatroom.recrutor).last_name %>
      <% patronyme = "#{prenom} #{nom}"%>
    <% else %>
      <% prenom = User.find(chatroom.user_id).first_name %>
      <% nom = User.find(chatroom.user_id).last_name %>
      <% patronyme = "#{prenom} #{nom}"%>
    <% end %>
    <!--  fonction nom utilisateur et recruteur -->



    <!--  condition de style en fonction de qui à envoyer le dernier message  -->
    <% if  chatroom.messages.last && chatroom.messages.last.user_id == current_user.id %>
    <% css_class = 'pill-obsydian'%> <% else %> <% css_class = 'pill-lavande'%> <% end %>
    <!--  condition de style en fonction de qui à envoyer le dernier message  -->


      <!-- message repondu par l'utilisateur--->
      <%= link_to chatroom_path(chatroom) do%>
      <div class="message-card <%=css_class%>">
      <%= render 'shared/avatar_recrutor', chatroom: chatroom, imageurl: "cl_image_path chatroom.offer.photo.key, width: 50, height: 50" %>
      <div class="max-lenght">
      <h4><%=patronyme.titleize%></h4>
      <h6><%= Offer.where(user_id: chatroom.recrutor).first.company_name %></h6>
      <p><%=chatroom.name.capitalize%></p>
      </div>
      </div>
      <% end %>
      <!-- message repondu par l'utilisateur--->


  <!--  boucle principale-->
  <% end %>
  <!--  boucle principale-->

  <% else %>
            <div style="height: 23vh;" ></div>
        <div class="xlarge-info-pill p-5 pill-obsydian">
        <span class="d-flex justify-content-center" style="font-size: 100px;">💔</span>
        <h5 style="text-align: center;">Vous n'avez pas<br>encore de<br>matchs.</h5>
        </div>
  <% end %>
<!--  conteneur -->
</div>
<!--  conteneur -->
