<%= render '/shared/navigationbar', pathname: 'Mes informations'%>
<div class="content-long-dashboard dashboard">
  <div class="b-margin-40"></div>
  <button class="job-button button-pill-large"> Ajouter un emploi </button>
  <div class="b-margin-40"></div>
  <div class="job-list d-none">
    <% Job.all.each do |job| %>
      <%= simple_form_for @job, url: job_update_path do |f| %>
        <%= f.label job.name %>
        <%= f.input :experience %>
        <%= hidden_field_tag :job_id, value: job.id %>
        <%= f.submit %>
      <% end %>
    <% end %>
  </div>
  <%= simple_form_for @skill, url: skill_update_path do |f| %>
    <%= f.association :skill, input_html: { multiple: true } %>
    <%= f.input :level, collection: UserSkill::LEVEL %>
    <%= f.submit %>
  <% end %>
  <%= simple_form_for @user, url: description_maj_path(@user) do |f| %>
    <%= f.text_area :description, :cols => 40, :rows => 6 %>
    <div class="b-margin-40"></div>
    <%= f.submit %>
    <div class="b-margin-40"></div>
  <% end %>
</div>
