<div class="container">
  <h2>Mes informations</h2>
  <% if @user.id == current_user.id %>
    <%= simple_form_for(@user) do |f| %>
          <%= f.input :last_name, label: 'Nom' %>
          <%= f.input :first_name, label: 'Prénom' %>
          <%= f.input :email, label: 'Addresse email' %>
          <%= f.input :password, label: 'Mot de passe' %>
          <%= f.input :gender, label: 'Genre' %>
          <%= f.input :birthdate, label: 'Date de naissance' %>
          <%= f.input :city, label: 'Ville' %>
          <%= f.submit "Modifier" %>
    <% end %>
    <%= link_to "Mon dashboard", "#" %>
  <% end %>
</div>
