<nav class="tabbar">
  <% if @user != nil %>
    <%= link_to dashboard_user_path(@user), class: "tabbar-icons" do%>
    <%= render '/shared/svg/dashboard.svg' %>
    <p>dashboard</p>
    <% end %>
  <% else %>
    <%= link_to "sign in", new_user_session_path, class: "tabbar-icons" %>
  <% end %>
  <a href="#" class="tabbar-icons">
  <%= render '/shared/svg/matchs.svg' %>
  <p>Matchs</p>
  </a>
  <a href="#" class="tabbar-icons">
  <%= render '/shared/svg/messages.svg' %>
    <p>Messages</p>
  </a>
</nav>
