<nav class="tabbar">
  <%# <%= link_to dashboard_user_path(@user), class: "tabbar-icons" do%>
  <%# ❗️ ajout de ligne pour editer la home à remplacer par la nouvelle %>
  <%= link_to '#', class: "tabbar-icons" do%>
  <%= render '/shared/svg/dashboard.svg' %>
  <p>dashboard</p>
  <% end %>

  <a href="#" class="tabbar-icons">
  <%= render '/shared/svg/matchs.svg' %>
  <p>Matchs</p>
  </a>
  <a href="#" class="tabbar-icons">
  <%= render '/shared/svg/messages.svg' %>
    <p>Messages</p>
  </a>
</nav>
