<nav class="tabbar">

  <%= link_to dashboard_path(@user), class: "tabbar-icons" do %>
  <%# ❗️ ajout de ligne pour editer la home à remplacer par la nouvelle %>
  <%= render '/shared/svg/dashboard.svg' %>
  <p>Mon Profil</p>
  <% end %>

  <%= link_to offers_path, class: "tabbar-icons" do%>
  <%= render '/shared/svg/matchs.svg' %>
  <p>Swipez!</p>
  <% end %>

  <a href="/message_index" class="tabbar-icons">
  <%= render '/shared/svg/messages.svg' %>
    <p>Messages</p>
  </a>
</nav>
