  <div class="home content">
    <img src='<%= image_path 'home.png'%>' style="max-width:100vw"><hr>
        <img src='<%= image_path 'home.png'%>' style="max-width:100vw"><hr>
            <img src='<%= image_path 'home.png'%>' style="max-width:100vw"><hr>
                <img src='<%= image_path 'home.png'%>' style="max-width:100vw"><hr>
                    <img src='<%= image_path 'home.png'%>' style="max-width:100vw"><hr>
                        <img src='<%= image_path 'home.png'%>' style="max-width:100vw"><hr>
  </div>
