<div class="offre-js">
<%# ma classee pour cacher l'offre %>
<% if @selected_offers.count.positive? %>

<div class="content-offers offers" style="max-width: 428px">
<div class="refus-anim d-none" >
<i class="fas fa-thumbs-down"></i>
</div>

  <div>
    <% offer = @selected_offers.first %>
      <div>
        <style>.photo{background-image:url('<%= cl_image_path offer.photo.key, width: 408, height: 650 %>');}</style>
        <div class="photo offer-image" data-id=<%= offer.id %>></div>

        <div class="offer-global-content">
          <div class="offer-name mr-3">
            <h2><%= offer.title.capitalize %></h2>
            <h5><%= offer.company_name.capitalize %></h5>
          </div>

          <div class="offers-content">

            <div class="offer-info-content">
              <p class="info-pill">📍 <%= offer.location %></p>
              <p class="info-pill">💰 <%= (offer.salary) %>€</p>
              <p class="info-pill">🕦 <%= offer.number_hour %>h</p>
              <p class="info-pill"><%= offer.contract_type %></p>
            </div>

            <div class="offer-buttons-content">
            <%# <% if offer rejected, offer transferred filtered out of index %>
              <%= link_to "#", remote: true, id: "reject-btn" do %>
                <h6 class="button-pill-narrow pill-indigo refus-annim-button"><b>❌ Non</b></h6>
              <% end %>
            <%# <% if match saved, offer filtered out of index and transferred to matches view avec index (link) %>
              <%= link_to "#", remote: true, id: "accept-btn" do %>
                <h6 class="button-pill-narrow pill-jaune"><b>Like</b></h6>
              <% end %>
            </div>


            <div class="b-margin-20"></div>
            <%= link_to profile_path(offer.user.id) do  %>
              <h5><%= offer.user.first_name.capitalize %> <%= offer.user.last_name.capitalize %></h5>
              <p>Recruteur</p>
            <% end %>
            <div class="b-margin-30"></div>
            <p><%= offer.description.first(150) %>...</p>
            <div class="b-margin-30"></div>
            <%= link_to offer_path(offer) do %>
              <h6 class="button-pill-xlarge pill-indigo"><b>🧐 Decouvrir</b></h6>
            <% end %>
          </div>
        </div>
      </div>
      <% else %>
        <div class="content-long dashboard" style="max-width: 428px; margin: 0;">
        <div class="nothingfound">
        <span class="d-flex justify-content-center" style="font-size: 100px;">😥</span>
        <h5 style="text-align: center;">Aucune nouvelle offre<br>ne correspond à<br>votre profil.</h5>
        </div>
        </div>
      <% end %>
  </div>
</div>
<div class="modal-shadow modal-hidden">
  <div class="match-modal">
  </div>
</div>

<%# loic %>
</div>
