<div class="container">
  <h2><%= @offer.title %></h2>
  <p><%= @offer.description %></p>
  <p><%= @offer.location %></p>
  <p><%= @offer.salary %>/an</p>
  <p><%= @offer.number_hour %>h/semaine</p>
  <p><%= @offer.contract_type %></p>
  <p><%= @offer.employement_type %></p>
</div>
