<!DOCTYPE html>
<html>
  <head>
    <title>JOBBLE</title>

  <%# iphone fullscreen compatibility and icons%>
  <%= render 'shared/ios_pwa_links' %>
  <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="viewport-fit=cover, user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-title" content="Jobble">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="application-name" content="Jobble">
  <meta name="author" content="Jobble">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%if current_user %>
      <%= render 'shared/tabbar'%>
    <%end%>
  </body>
</html>
